@import '../../../presentation/styles/colors.scss';
@import '../../../presentation/styles/global.scss';

.league {
    color: $ligth;

    .table {
        background-color: $table;
        border-radius: $borderRadius;
        border: 1px solid;
        margin-left: 20px;
    }

    .selectPlayer {
        background-color: $table;
        border-radius: $borderRadius;
        border: 1px solid;
        margin-right: 20px;
    }

    .selector {
        display: flex;
    }

}