@import '../../../presentation/styles/colors.scss';
@import '../../../presentation/styles/global.scss';

.tableBox {
    background-color: $table;
    margin-bottom: 5px;
}

.titleTable{
    background-color: $primaryLight; /* Cor de fundo diferente */
    text-align: left; /* Alinhamento à esquerda */
}

td{
    text-align: left; /* Alinhamento à esquerda */ 
    padding-left: 10px; 
}