$white: #ffffff;
$ligth: #d4ceca;
$black: #000;
$background: #1a1a1a;
$subbackground: #2f2f2f;
$primary: #000;
$primaryDark: #880E4F;
$primaryLight: #1d1d1d;
$disabledBackground: #CCC;
$disabledColor: #666;
$table: #262626