$white: #ffffff;
$ligth: #c6af9e;
$black: #000;
$background: #1a1a1a;
$subbackground: #2f2f2f;
$primary: #000;
$primaryDark: #880E4F;
$primaryLight: #BC477B;
$disabledBackground: #CCC;
$disabledColor: #666;