@import '../../../presentation/styles/colors.scss';

.header {
    display: flex;
    flex-direction: column;
    border-top: 5px solid $primary;
    background-color: $primary;
    align-items: flex-start;
    justify-content: left;
    // margin: 0px 0px 0px 0px;

    img {
        margin-top: 40px;
    }

    h1 {
        color: $ligth;
        margin: -25px 0px 20px 40px;
    }
}